/* Riot Drop Up Component */
.drop-up {
  line-height: 1.5;
  font-weight: 400;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-family: "FF Mark W05", Arial, sans-serif;
  color: hsl(var(--riot-red));
  overflow: hidden;
  pointer-events: none;
  fill: hsl(var(--muted-foreground));
  width: 8px;
  height: 5px;
  padding-right: 20px;
}
@keyframes haki {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.riot-fist2 svg {
  fill: hsl(var(--primary));
  transition: var(--transition-fast);
}

.riot-logo2 {
  animation: haki 2s ease 0s 1 normal forwards;
}

.riot-logo2:hover .riot-fist2 svg {
  fill: hsl(var(--riot-red));
}