.drop-down{
    
    line-height: 1.5;
        font-weight: 400;
        -webkit-text-size-adjust: 100%;
        --color-bg-gradient: rgba(11, 196, 226, 0.2);
        font-size: 1em;
        -webkit-font-smoothing: antialiased;
        font-family: "FF Mark W05", Arial, sans-serif;
        color: #d1363a;
        overflow: hidden;
        pointer-events: none;
        
        fill: #7e7e7e;
        width: 8px;
        height: 5px;
        padding-right: 20px;
        
}
.riot-fist svg{
    fill: white;
 
}
.riot-logo{
    cursor: pointer;
    display: flex;
    align-items: center;
    z-index: 1;
    
}
.riot-logo:hover svg {
    fill: red;
}
.drop-down-menu {
    position: absolute;
 background-color: white;
 left: 0;
 right: 0;
 bottom: 0;
 
 
}