.soul-fighter__image {
    height: auto;
    width: 360px;
    max-width: 100%;
  }
  
  .soul-fighter {

    padding-left: 80px;
    margin: 0 auto;
    padding-right: 40px;
    align-items: center;
    justify-content: center;
    text-align: center; 
    margin: 0 48.5rem 0 0;
    padding-top: 70px;
   
  }
  
  .upFor {
    color: white;
    font-size: 31px;
    padding-top: 3rem;
    letter-spacing: -1px;
    margin-bottom: 1rem;
;  }
  .soul-fighter p {
    font-size: 1.25rem;
    color: rgba(249,249,249,.6);
    margin-bottom: 3.125rem;
    line-height: 1.5rem;
    text-shadow: 0 0 4px rgba(0,0,0,.4);
    letter-spacing: -.03em;
  }